body {
    margin:0;
}

.wrapper {
    margin: 0 auto;
    width: 900px;
}

.header {

}

.content{
    position: relative;
    margin: 50px auto;
}

.footer {
    background-color: red;
    text-align: center;
}

.filter {
    position: absolute;
    right: 0;
    top: -30px;
}
.food-list li{
    display: block;
}