<div class="filter">
        <span>选择: <a href="javascript:">米饭</a>|<a href="javascript:">面食</a>|<a href="javascript:">小吃</a>|<a
                href="javascript:">其他</a></span>
</div>
<div class="foodList">
    <div class="food" ng-repeat="food in foodList" id="{{food.id}}">
        <div class="pic fl"><img ng-src="{{food.pic}}"/></div>
        <div class="description fl">{{food.name}}</div>
        <div class="choose fr"><input type="checkbox" ng-model="food.checked"/></div>
        <div class="price fr">￥{{food.price}}/份</div>
    </div>
</div>
<div class="submit">
    <div class="userName">姓名:<input type="text" value="" ng-model="userName"/></div>
    <!--<div class="totalPrice">总价格: ￥<span id="totalPrice">0.1</span></div>-->
    <div class="confirm"><a class="button" ng-href="#/submit" ng-click="submitFood()">提交</a></div>
</div>